@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar{
	width: 0.6rem;
}
body::-webkit-scrollbar-track{
	background-color: #F13637;
}
body::-webkit-scrollbar-thumb{
	background-color: blue;
}

body::-webkit-scrollbar-thumb:active{
	background-color: yellow;
}

body{
	background-image: url('../img/l1.gif');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: white;
}

h1{
	font-size: 200%;
	border-bottom: 3px solid red;
}

h1, h2, h3{
	width: 46%;
	text-align: center;
	position: relative;
	margin: auto;
	margin-top: 15px;
	padding-bottom: 5px;
}

ul{
	width: 30%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

li{
	text-align: center;
	width: max-content;
	margin: 20px auto;
	list-style: none;
	position: relative;
}

a{
	text-align: center;
	text-decoration: none;
	transition: font-size 0.7s ease;
	color: #F1363A;
	/* background: linear-gradient(to right, blue, yellow);
	-webkit-background-clip: text;
	background-clip: text; */
}

li::before{
	content: "";
	position: absolute;
	background: #F1363A;
	bottom: -3px;
	height: 2px;
	left: 0;
	width: 0;
	transition: width 0.8s ease;
}

li:hover::before{
	width: 100%;
}
