@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
	background-image: url('../img/l1.gif');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	color: white;
}

h1{
	width: 50%;
	margin: auto;
	text-decoration: underline;
}

ul{
	width: 30%;
	margin: auto;
}

li{
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

a{
	text-align: center;
	width: 100%;
	color: white;
	text-decoration: underline blue;
}