
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body{
	font-family: 'Roboto', sans-serif;
	background-color: #151D21;
	color: #aaa;
	}

a{
	text-decoration: none;
	color: #AAAAAA;
}

button{
	cursor: pointer;
}

header{
	flex-grow: 1;
	background-color: white;
	display: flex;
	width: 100%;
	z-index: 10;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	border-bottom: 2px solid black;
}
.fa-id-card-o{
	margin-top: 11px;
	padding-right: 10px;
	padding-left: 10px;
}

.Portfolio{
	height: 70px;
	width: 180px;
	display: flex;
	position: absolute;
}

.div_bar{
	width: 800px;
	margin-left: auto;
 	margin-right: 40px;
}

.nav_bar{
	height: 70px;
	width: 800px;
}

ul{
	margin-top: 0px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

li{
	font-weight: bold;
	color: #AAAAAA;
	font-size: 20px;
	list-style: none;
	padding: 10px;
	border: 2px solid #AAAAAA;
	border-radius: 4px;
	margin-right: 10px;
}

.head_name{
	margin-right: 10px;
	font-size: 30px;
	font-weight: bold;
	align-items: center;
	display: flex;
}

div.main{
height: auto;
width: auto;
}

@media only screen and (max-width: 850px){
		div.logo1{
			flex-wrap: wrap;
			flex-direction: column;
		}
		div.part {
			transform: translateY(-220px);
		}
		div.art:hover div.part{
			transform: translateY(0px);
			transition: 0.5s;
		}
}

.box_article{
	padding: 0px;
	border: 2px solid #AAAAAA;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	margin-top: 125px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 580px;	
}

.propos{
	background-image: url("img/banniere propos.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.overlay{
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	opacity: 0.7;
}
.head_article{
	padding-top: 0.1%;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #AAAAAA;
	font-size:200%;
	height: 10%;	
	z-index: 1;
}

.head_article h4{
	margin-left: 10px;
}

.p_article{
	z-index: 1;
	font-size: 170%;
	margin-left: 5px;
	margin-right: 5px;
}

.experience h1{
	margin-top: 50px;
	width: 160px;
	border-top: 2px solid #AAAAAA;
	border-bottom: 2px solid #AAAAAA;
	margin-left: auto;
	margin-right: auto;
}

.slider-wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 550px;
	margin-top: 50px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	border: 5px solid red;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.slider-wrapper h4{
width: 400px;
margin-left: auto;
margin-right: auto;
}

div.slider{
	color: black;
	padding-left: 15px;
	overflow: hidden;
	height: 30px;
	margin-bottom: 0px;
	padding: 2px 15px;
	text-align: center;
	box-sizing: border-box;
}
div.slide1{
	background:white;
	margin-bottom: 30px;
	height: 30px;
	animation: slide 7s linear infinite;
}
div.slide2{
	background:yellow;
	height: 30px;
	margin-bottom: 30px;
}
div.slide3{
	background:orangered;
	height: 30px;
	margin-bottom: 30px;
}
div.slide4{
	background:darkturquoise;
	height: 30px;
	margin-bottom: 30px;
}
div.slide5{
	background:steelblue;
	height: 30px;
	margin-bottom: 30px;
}
div.slide6{
	background:salmon;
	height: 30px;
	margin-bottom: 30px;
}
@keyframes slide {
	0%{margin-top: -360px;}
	5%{margin-top: -300px;}
	16%{margin-top: -300px;}
	21%{margin-top: -240px;}
	32%{margin-top: -240px;}
	37%{margin-top: -180px;}
	48%{margin-top: -180px;}
	53%{margin-top: -120px;}
	64%{margin-top: -120px;}
	69%{margin-top: -60px;}
	80%{margin-top: -60px;}
	85%{margin-top: 0px;}
	100%{margin-top: 0px;}
}


div.logo1{
	left: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #31A5FE;
	color: #19447D;
	margin-top: 50px;
	overflow: hidden;
	flex-direction: row;
}

div.art{
	margin-right: 30px;
	margin-left: 30px;
	width: 30%;
	font-size: 20px;
	overflow: hidden;
	height: 150px;
	transition: 0.5s;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

div.java:hover{
	transition: 0.5s;
	height: 500px;
}
div.HC:hover{
	transition: 0.5s;
	height: 530px;
}
div.A:hover{
	transition: 0.5s;
	height: 550px;
}
div.Py:hover{
	transition: 0.5s;
	height: 450px;
}

div.art:hover div.part{
	transform: translateY(0px);
	transition: 0.5s;
}

		
div.part{
	transition: 0.5s;
	transform: translateY(220px);
	margin-bottom: 10px;
}

div.part h3{
	text-decoration: underline;
}

img.java{
	width: 33%;
}
img.HC{
	width: 50%;
}
img.A{
	width: 43%;
}
div.logo2{
	left: 0px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #31A5FE;
	color: #19447D;
	overflow: hidden;
	transition: 0.5s;
}
img.Py{
	width: 50%;
}

.space{
	width: 100%;
	height: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
}

footer{
	border-top: 2px solid #AAAAAA;
	background-color: black;
	color: #AAAAAA;
	width: 100%;
	height: 200px;
}

.contact_title{
width: 50px;
margin-right: auto;
margin-left: auto;
text-decoration: underline;

}

-----------------------------------------
.mail{
	justify-content: center;
	align-items: center;
	display: flex;
}

.title_mail{
	margin-top: 50px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	color: #AAAAAA;
}

.mail_box{
	margin-top: 5%;
	width: 25%;
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	background-color: black;
	box-shadow: 0px 0px 40px black;
}

.box{
	border: 2px solid #AAAAAA;
	padding: 15px 20px 15px 20px;
	margin: 5px;
	border-radius: 40px;
	transition: 0.6s;
	color: white;
	outline: none;
	background-color: transparent;
}

.box:focus{
	transition: 0.6s;
	border: 2px solid green;
	padding: 15px 50px 15px 50px;	
	border-radius: 60px; 
}

.send_mail{
	border: 2px solid #AAAAAA;
	padding: 15px 80px 15px 80px;
	margin: 5px;
	border-radius: 40px;
	transition: 0.6s;
	outline: none;
	color: white;
	background-color: transparent;
}

.send_mail:hover{
	cursor: pointer;
}

.send_mail:focus{
	transition: 0.6s;
	border-color: green;
	padding: 15px 110px 15px 110px;
	border-radius: 60px;
}