@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.jumbotron-image{
    background-image: url('../img/jumbotron-image.jpg');
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
}

img{
    height: 200px;
}

.jaune {
    color : gold;
    text-shadow: 0px 0px 2px #000000;
}

.card a{
    width: 33%;
}

iframe{
    width: 600px;
    height: 340px;
    margin-left: 25%;
}

.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(beige, white, beige);
    margin-bottom: 20px;
    box-shadow: 10px 10px 20px black;
}

.carte img{
    border: 2px solid blue;
    width: 140px;
    height: 140px;
}

.carte span{
    display: inline;
}

i{
   
    font-size: 30px;
    border-radius: 60px;
    color: white;
    transition: 0.2s;
}

.fa-facebook{
    background-color: blue; 
    padding: 10px 15px;
}

.fa-pinterest{
    background-color: red;
    padding: 11px;
}

.fa-linkedin{
    background-color: cyan;
    padding: 10px 12px;
}

.carte span i:hover{
    padding: 13px;
    font-size: 35px;
    cursor: pointer;
}
.carte span .fa-facebook:hover{
    padding: 12px 17px;
}
/*----------Responsive----------*/
@media (min-width: 1280px){

}
@media (min-width: 1024px){

}
@media (min-width: 768px){

}
@media (min-width: 640px){

}
@media (min-width: 300px){

}