    @import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    list-style: none;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: background-color 0.6s;
}

li:hover{
    background-color: #1E90FF;
}

li:hover a{
    color: #fff;
}

li a{
    color:#1E90FF;
    transition: color 0.6s;
}

.badge{
    background-color: gray;
    color: white;
    border-radius: 20px;
}

/*----------Responsive----------*/
@media (min-width: 1280px){

}
@media (min-width: 1024px){

}
@media (min-width: 768px){

}
@media (min-width: 640px){

}
@media (min-width: 300px){

}