*{
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
}

p{
	-webkit-hyphens : auto;
	-moz-hyphens : auto;
	-ms-hyphens : auto;
	hyphens : auto;
	word-wrap : break-word;
	overflow-wrap : break-word;
}

a{
	text-decoration: none;
}

#page{
	max-width: 900px;
	margin: auto;
}

#banniere{
	height: 211px;
	background-image: url('../img/banniere.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
}

header h1{
	font-size: 300%;
	margin: 0px;
	color: #fff;
	text-align: center;
	line-height: 211px;
}

ul{
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

ul li{
	background-color: yellow;
	margin: 5px 0.5em;
	width: 110px;
	padding: 3px 4px 3px 4px;
	text-align: center;
}

ul li:hover{
	background-color: #000;
	color: #fff;
}

ul li a{
	width: 100%;
	color: #000;
}

ul li:hover a{
	color: #fff;
}

li i{
	transition: transform 0.3s;
}

li:hover i{
	transition: transform 0.3s;
	transform: rotateZ(90deg);
}

li ul{
	display: none;
}

li ul li{
	background-color: transparent;
}

.list:hover ul{
	position: absolute;
	display: block;
	background-color: lightgrey;
}

#sidebar{
	float: right;
	width: 23%;
	height: ;
	margin-top: 1em;
	background-color: #000;
	color: #fff;
}

#sidebar img{
	height: 200px;
}

section article{
	padding: 1em;
	margin-top: 1em;
	background-color: #fff; 
}

article h2{
	font-size: 160%;
}

article header{
	padding: 1em;
	background-color: yellow;
	color: #000;
}

article footer{
	padding: 1em;
	background-color: grey;
	color: #000;
}

article aside{
	margin: 1em 3em;
	padding: 1em;
	background-color: #fff;
	border: 2px solid yellow;
	font-size: 0.8em;
	font-style: italic;
	clear: both;
}

#footer{
	font-size: 0.8em;
	color: #fff;
	background-color: #000;
	clear: both;
}

@media screen and (min-width: 769px) {
	body{
		background-image: url('../img/background_movie.jpg');
		background-repeat: repeat-y;
		background-position: center;
		background-size: contain;
	}

	ul{
		flex-direction: row;
	}

	section{
		float: left;
		width: 75%;
		margin-bottom: 50px;
	}

	article img{
		float: left;
		padding: 1em;
		height: 200px;
	}

}






@media screen and (min-width: 481px) and (max-width: 768px) {
	body{
		background-color: black;
	}

	ul{
		flex-direction: row;
	}

	#banniere h1{
		font-size: 200%;
		background-size: 50%;
	}

	section{
		width: 100%;
		margin-bottom: 50px;
	}

	article img{
		float: left;
		padding: 1em;
		height: 200px;
	}
}

@media screen and (max-width: 768px) {
	.petit_ecran{
		display: none;
	}
}

@media screen and (max-width: 480px) {
	body{
		background-color: black;
	}

	ul{
		flex-direction: column;
	}

	#banniere h1{
		font-size: 200%;
	}

	li:hover ul{
		display: flex;
		flex-direction: row;
	}

	section{
		width: 100%;
		margin-bottom: 50px;
	}

	section article{
		padding: 0.5em;
	}

	article img{
		max-width : 100%;
		width: 50%;
		margin: auto;
		height : auto;
	}
}