@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body{
	min-height: 100vh;
	overflow-x: hidden;
}

body::-webkit-scrollbar{width: 0.6rem;}
body::-webkit-scrollbar-track{background-color: #fff;}
body::-webkit-scrollbar-thumb{background-color: rgb(190, 190, 190);}
body::-webkit-scrollbar-thumb:active{background-color: rgb(170, 170, 170);}

a{
	text-decoration: none;
	color: #000;
}

li{list-style-type: none;}

a:hover, button:hover, input[type=submit]:hover{
	cursor: pointer;
	touch-action: manipulation;
}

.row{display: flex;}
.block, .d-block, .d-md-block{display: block;}
.hidden, .d-none{display: none;}

.column{
	display: flex;
	flex-direction: column;
}

.flex_center{justify-content: center;}
.flex_between{justify-content: space-between;}
.flex-around{justify-content: space-around;}

.column_center{align-items: center;}

button, input{
	outline: 0;
	border: none;
	background-color: #fff;
}

.w-25{width: 25%;}
.w-50{width: 50%;}
.w-75{width: 75%;}
.w-100{width: 100%;}

.crop-all{overflow: hidden;}

.margin-r-10{margin-right: 10px;}
.margin-r-20{margin-right: 10px;}
.margin-r-30{margin-right: 10px;}
.margin-r-40{margin-right: 10px;}
.margin-l-10{margin-left: 10px;}
.margin-l-20{margin-left: 10px;}
.margin-l-30{margin-left: 10px;}
.margin-l-40{margin-left: 10px;}
.margin-t-10{margin-top: 10px;}
.margin-t-20{margin-top: 10px;}
.margin-t-30{margin-top: 10px;}
.margin-t-40{margin-top: 10px;}
.margin-b-10{margin-bottom: 10px;}
.margin-b-20{margin-bottom: 20px;}
.margin-b-30{margin-bottom: 30px;}
.margin-b-40{margin-bottom: 40px;}

.f-maj{text-transform: uppercase;}
.f-center{text-align: center;}
.u{text-decoration: underline;}
.i{font-style: italic;}

.c_white{color: white;}

.ratio-16-9{
	--ratio: 16/9;
	padding-bottom: calc(100%/var(--ratio));
}
.ratio-4-3{
	--ratio: 4/3;
	padding-bottom: calc(100%/var(--ratio));
}
.container-ratio{
	position: relative;
	height: 0;
}
.container-ratio > *{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

div[data-progress]{
	position: absolute;
	top: 0;
	z-index: -1;
	width: 0%;
	transition: width 2s ease-in-out;
}

.bar-progress{
	position: relative;
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	height: 20px;
}
/*---------- Animations ----------*/
.float{
	animation: 3s ease-in-out float infinite;
}

@keyframes float{
	0%{
		transform: translateY(0px);
		transition-timing-function: ease-in;
	}
	25%{
		transform: translateY(35px);
		transition-timing-function: ease;
	}
	75%{
		transform: translateY(-25px);
		transition-timing-function: ease;
	}
	100%{
		transform: translateY(0px);
		transition-timing-function: ease-out;
	}
}