@media screen and (max-width: 1000px){
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	content {
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
		overflow-wrap: break-word;
		width: auto;
		max-width: 100%;
		margin-left: 17px;
	}

	body{
		max-width: 100%;
		overflow-x: hidden;
	}

	#header h1{
		font-size: 200%;
	}

	#naguator{
		position: static;
	}
	
	#content {
		margin-left: 8px;
		margin-right: 7px;
	}

	.a_cross{
		background-color: #000;
		text-align: center;
		border-radius: 25px;
	}

	.a_cross i{
		transform: translateY(0.5px);
	}

	.article {
		padding: 10px;
		margin-right: 0;
		clear: both;
	}

	.imgdroite .img4 {
		float: none;
	}
	
	#menu {
		margin-left: 12px;
		margin-right: -100px;
	}
	
	#menu ul li {
		text-align: left;
	}
	
	li:hover .javascript{
	height: 310px;
	}
	
	li:hover .typescript{
	height: 350px;
	}

	.javascript_article .js_logo{
		width: 20%;
	}	
}