@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

:root{
	--grey: rgba(255, 255, 255, 0.5);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}

.a_cross{
	position: fixed;
	width: 25px;
	height: 25px;
	bottom: 20px;
	right: 45px;
	color: #fff;
}

.a_down{
	right: 15px;
}

#page {
	max-width: 1000px;
	margin: auto;
}

#header {
	height: 120px;
	text-align: center;
}

#header h1 {
	font-size: 300%;
	color: white;
	margin-top: 0;
}

#header h2 {
	font-size: 120%;
	color: white;
	margin-top: 5px;
}
				
#naguator{
	position: fixed;
	max-width: 120px;
	float: left;
}

#menu {
	list-style: none;
	margin-left: -50px;
	margin-right: 50px;
}

#menu li a {
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	transition: color 0.3s;
}

#menu li a:hover {
	color: #000;
}

#menu li{
	background-color: #2b2b2b;
	text-align: center;
	padding: 10px 10px 0px 10px;
	margin: 0px -10px 1em -50px;
	border-radius: 3px 3px 3px 3px;
	transition: background-color 0.3s;
}

#menu ul li {
	background: none;
}

#menu ul li a {
	font-size: 18px;
	margin-left: -8px;
	transition: color 0.6s;
}

#menu ul li:hover {
	background-color: #000;	
	margin-right: -10px;
}

#menu ul li:hover a {
	color: #fff;
}

.effect_menu{
	visibility: hidden;
  	opacity: 0;
  	transform: scaleY(0);
  	transform-origin: 50% 0;
  	height: 0;
  	transition: visibility 0s, opacity 0.5s linear, transform 1s ease, height 1s;
}

li:hover .effect_menu{
	transform: scaleY(1);
	visibility: visible;
  	opacity: 1;
}

li:hover .javascript{
	height: 400px;
}

li:hover .php{
	height: 400px;
}

li:hover .typescript{
	height: 380px;
}

.javascript {
	text-decoration: none;
	list-style: none;
	text-align: center;
	position: relative;
}

.php {
	text-decoration: none;
	list-style: none;
	text-align: left;
	position: relative;
	margin-top: 10px;
}

.typescript {
	text-decoration: none;
	list-style: none;
	text-align: left;
	position: relative;
	margin-top: 10px;
}

#content {
	margin-left: 140px;
	margin-right: -170px;
}

.article {
	color: #000;
	font-size: 20px;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 10px 10px 10px 10px;
}

hr{
	margin: 3em 0 3em 0;
	height: 1px;
	width: 100%;
	border: none;
	background-color: grey;
}

.javascript_article{
	background-color: #F7E018;
}

.javascript_article .js_logo{
	float: right; 
	width: 10%; 
	border: 1px solid #2b2b2b;
}

.javascript_article div{
	width: 100%;
	margin: auto;
	text-align: center;
}

.javascript_article .redirect{
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	color: #2b2b2b;
	position: relative;
}

.javascript_article .redirect:hover{
	cursor: pointer;
	text-decoration: underline;
}

.php_article{
	background-color: #787CB4;
}

.typescript_article{
	background-color: #2F74C0;
}

.article h3 {
		text-align: center;
		margin-bottom: 20px;
}

.article h4 {
		margin: 20px;
}

.img3 {
	margin: 10px 10px;
	max-height: 300px;
	max-width: 300px;
}

.imgdroite {
	float: right;
	margin: 10px 10px;
	max-height: 150px;
}

.img4 {
	float: right;
	margin: 10px 10px;
	max-height: 300px;
	max-width: 300px;
}

#Fonctionnement {
	clear: both;
}

.img5 {
	margin: 10px 10px;
	max-height: 300px;
	max-width: 300px;
}

.img6 {
	margin: 10px 10px;
	max-height: 300px;
	max-width: 300px;
}

.deux_colonnes {
	font-style: italic;
	padding: 1em;
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
}

#footer {
	color: #fff;
	font-size: 0.8em;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 50px;
	padding: 20px;
	clear: both;
}