h1{
	background-color: red;
	font-size: 400%;
	font-weight: bolder;
}

h2{
	max-width: 50%;
	margin-top: 3%;
	margin-left: 10%;
}

ul{
	margin-left: 25%;
}

.code{
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.a{
	padding: 15px 0;
	border: 2px solid white;
	border-radius: 30px;
}
.card{
	width: 300px;
	height: 100px;
	border-radius: 10px;
	margin: 2% auto;
}
