*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif; 
} 

body{
    width: 100%;
}

#canvas{
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: red;
}
/*----------Responsive----------*/ 
@media (min-width: 1280px){} 
@media (min-width: 1024px){} 
@media (min-width: 768px){} 
@media (min-width: 640px){} 
@media (min-width: 300px){} 
