*{
	padding: 0;
	margin: 0;
	font-family: Arial, sans-serif;
}

canvas{
    border: solid 1px black;
}

.oui{
	display: flex;
	align-items: center;
}

.oui div{
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
