@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
	min-height: 200vh;
	/* background-image: url('img/wallpaper3.jpg');
	background-repeat: no-repeat;
	background-size: cover; */
}

a{
	text-decoration: none;
	color: black;
}

hr{
	border: none;
	height: 1px;
	background-color: black;
}

body::-webkit-scrollbar{
	width: 0.50rem;
}

/*-------------HEADER------------------------------------------------------------*/
header {
	z-index: 3;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 30px 50px;
    transition: height 0.4s;
    overflow: hidden;
}

header.active {
    height: 500px;
}

header.active .title-header{
	display: none;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    color: white;
}

.burger {
    position: relative;
    width: 30px;
    height: 3px;
    background: white;
    margin-left: 15px;
    transition: background 0.4s;
}

.burger::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    bottom: 7px;
    transition: transform 0.4s,
                bottom 0.4s;
}

.burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 7px;
    transition: transform 0.4s,
                top 0.4s;
}

.burger.active {
    background: transparent;
}

.burger.active::before {
    transform: rotate(-45deg);
    bottom: 0;
}

.burger.active::after {
    transform: rotate(45deg);
    top: 0;
}

.nav-links {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translateX(-50%);
    list-style: none;
    text-align: center;
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.4s,
                opacity 0.4s;
}

.nav-links.active {
    height: 305px;
    opacity: 1;
}

.nav-links li {
    margin: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background: red;
    left: 50%;
    bottom: -2px;
    transition: width 0.4s, left 0.4s;
}

.nav-links a:hover::after {
	left: 0;
    width: 100%;
}
/*--------------------------------------------------------------------------------------------*/

@media (min-width: 1280px){

}

@media (min-width: 1200px){
	.small-map{
		display: none;
	}

	.big-map{
		display: block !important;
	}

	.medium-map iframe{
		display: none;
	}
}

@media (min-width: 1024px) { 
	.div-presentation h2{
		font-size: 23px !important;
	}
}

@media (min-width: 850px){
	.medium-map{
		display: block !important;
	}

	.small-map{
		display: none;
	}
}

@media (min-width: 768px){
	.big_div_accueil{
		height: 70vh !important;
	}

	.title-map{
		flex-direction: row !important;
		justify-content: space-between;
	}
}

@media (min-width: 680px){
	.big_div_accueil{
		background-image: url('img/stage_photo.jpg') !important;
		height: 50vh;
		background-position: 50%;
	}

	.logo_ffk{
		display: block !important;
		height: 100%;
	}

	header.active .logo_ffk{
		display: none !important;
	}

	.logo_black{
		display: none !important;
	}

	header.active .logo_black{
		display: block !important;
	}

	.title-header{
		font-size: 20px;
	}
}

@media (min-width: 640px) {

}

@media (min-width: 540px){
	.img_presentation{
		width: 65% !important;
	}

	.div-presentation p{
		width: 75% !important;
		margin: auto !important;
	}
} 

/*----------------------------------------------------------------------------------------------*/

@media (max-width: 400px) {
    
    header {
        padding: 30px 5%;
    }

    header.active {
        height: 340px;
    }
    
    .burger {
        width: 25px;
    }

    .nav-links {
        top: 10%;
    }

    .nav-links a {
        font-size: 15px;
    }

}
/*----------------------------------------------------------------------------------------------*/

@media (min-width: 300px){

	header .logo_ffk{
		display: none;
	}

	header .logo_black{
		display: none;
	}

	.title-header{
		display: block;
		color: white;
		text-transform: uppercase;
		text-decoration: underline white;
		height: 40px;
		align-items: center;
		display: flex;
	}

	.big_div_accueil{
		width: 100%;
		height: 50vh;
		background-image: url('img/staff_presentation2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.div-presentation{
		text-align: center;
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 30px;
		border-bottom: 2px solid black;
	}

	.img_presentation{
		width: 100%;
		margin: auto;
	}

	.div-presentation h2{
		margin: 30px 0px;
		text-transform: uppercase;
		font-size: 20px;
	}

	.div-presentation p{
		width: 100%;
	}

	.div-presentation h3{
		margin: 20px 0px;
	}
	.gallerie{
		width: 50%;
	}

	.title-map{
		display: flex;
		flex-direction: column;
	}

	.big-map{
		display: none;
	}

	.medium-map{
		display: none;
	}

	footer{
		text-align: center;
		background-color: black;
		color: white;
		text-transform: uppercase;
	}
} 

