@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
	margin: 0 auto;
	background: #f9f9f9;
	font-size: 24px;
	padding: 25px;
	min-height: 400vh;
}

.parallax{
    min-height: 600px;
    background: transparent;
}